@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  @apply font-mono antialiased;
  @apply text-secondary-200;
  background: #fcfcfc;
} 

.btn {
  @apply bg-primary-400  px-4 py-2 rounded-md border-2 border-primary-400;
  @apply text-white font-bold;

  &:hover {
    @apply bg-primary-500;
  }

  &.secondary {
    @apply bg-white; 
    @apply text-primary-400;

    &:hover {
      @apply bg-primary-100;
    }
  }
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  @apply p-6 rounded-2xl;
  @apply absolute left-0 top-0 right-0 bottom-0;
  @apply my-12 mx-auto;
  @apply bg-white;
  @apply w-1/2;

  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
}
