:root {
  --white: #f6f6f6;
  --black: #2f2f2f;

  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation, Mono, monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--white);
  color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

input,
button {
  border: 2px solid var(--black);
  background: transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--black);
}

button {
  cursor: pointer;
}

button:hover,
button:active {
  color: var(--white);
  background: var(--black);
}

input,
button {
  outline: none;
}
